extends layout

append header

append main
    h1= hello_world
    p.
        Put your content here. 
        Variables populate where jade is compiled, 
        in the express app, usually. #{you_know}

append footer